@import './base.css';
#app {
  padding: 1rem;
  height: 100%;
  font-weight: normal;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  #app {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 9fr;
  }
}
